
.contact-lay{
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 10px;
    
    
}

.contact-list{
    width: 100%;
    
    height: 500px;
    overflow-y: auto;
}

.data-lay{
    display: flex;
}


.contact-box{
    display: flex;
    color: white;
    padding: 20px;
    background-color: var(--color-primary);
    width: 100%;
    justify-content: space-between;
    border-radius: 15px;
}



.contact-pfp{
    width: 60px;
    border-radius: 100px;
}

.contact-data-box{
    display: flex;
    flex-direction: column;
    padding-left: 10px;
      
}

.contact-name{
    font-size: 18px;
}

.last-message{
    padding-top: 5px;
    margin-left: 8px;
    font-size: 14px;
    color: rgb(212, 208, 208);
}

.message-at-box{
    font-size: 14px;
}


.contacts-panel{
    display: flex;
    height: 500px;
    overflow: hidden;
    transition: width 0.3s ease;
    color: white;
    
}

.btn-my-follows{
    border: none;
    background-color: #56336a;
    color: white;
    border-radius: 10px;
    cursor: pointer;
}

.contacts-panel.open {
    width: 450px;
    background-color: var(--color-primary);
    border-radius: 15px;
}

.contacts-panel.closed {
    width: 20px;
}


.contacts-content{
    padding: 30px 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.following{
    display: flex;
    width: 100%;
    gap: 20px;
    
    
    
}

.following-data{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;

}

.following-pfp{
  width: 70px;  
  border-radius: 100px;
}

.message-status-box{
    color: var(--color-primary);
    background-color: white;
    border-radius: 20px;
    padding: 10px;
    width: 60%;
  
    text-align: center;
    
}

.message-status{
    overflow-wrap: break-word;
}