.login-lay{
    width: 100%;
    height: 100vh;
    display: flex;

}


.login-box-right{
    width: 100%;
    background-color: var(--color-secundary);
    color: var(--color-primary);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 20px;
}

.login-box-right h1{
    font-size: 50px;
    padding-bottom: 10px;
}

.login-box-left{
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-primary);
    color: var(--color-secundary);
}

.title-r-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.title-r-box h1{
    font-size: 60px;
}

.title-r-box p{
    font-size: 21px;
}


.p-r-box{
    padding-top: 20px;
    padding-bottom: 20px;
    width: 400px;
    border-bottom: 4px solid var(--color-secundary);
}


.login-box{
   background-color: var(--color-primary);
   width: 70%; 
   height: 480px;
   border-radius: 10px;
   display: flex;
   flex-direction: column;
   padding: 30px;

}


.login-form{
    display: flex;
    color: var(--color-secundary);
    flex-direction: column;
    gap: 20px;
}

.login-form label{
    font-size: 20px;
}

.login-box input{
    background-color: transparent;
    outline: none;
    border: 1px solid rgb(233, 225, 225);
    padding: 15px;
    border-radius: 10px;
    color: var(--color-secundary);
    font-size: 18px;
}

.btn-login-box{
    padding-top: 10px;
}

.line{
    width: 100%;
    margin-top: 50px;
    height: 3px;
    background-color: var(--color-secundary);
}