

.notification-list{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.notification-box{
    background-color: var(--color-primary);
    padding: 20px;
    border-radius: 15px;
    color: white;
}

.notification-data{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.notification-pfp{
    width: 70px;
    height: 70px;
    border-radius: 100px;
    object-fit: cover;
    cursor: pointer;
}

.notification-data-lay-l{
    display: flex   ;
    gap: 10px;
}

.img-noti-box{
    position: relative;
}

.notification-type{
    position: absolute;
    font-size: 20px;
    right: 0;
    bottom: 0;
}

.notification-icon.like{
    position: absolute;
    font-size: 20px;
    right: 0;
    bottom: 0;
    color: rgb(210, 22, 22);
}

.notification-icon.comment{
    position: absolute;
    font-size: 20px;
    right: 0;
    bottom: 0;
    color: rgb(135, 23, 240);
}

.notification-icon.follow{
    position: absolute;
    font-size: 20px;
    right: 0;
    bottom: 0;
    color: rgb(135, 23, 240);
}


.notification-icon.reply{
    position: absolute;
    font-size: 20px;
    right: 0;
    bottom: 0;
    color: rgb(135, 23, 240);
}

.notification-content-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.notification-post{
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 15px;
    cursor: pointer;
}

.notification-post:hover{
    filter: brightness(80%);
}
