.profile-lay{
    padding: 0px 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}


.profile-box{
    display: flex;
    justify-content: space-between;
    background-color: var(--color-primary);
    align-items: center;
    padding: 20px;
    border-radius: 15px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08), 0 8px 24px rgba(0, 0, 0, 0.12);
}


.profile-pfp{
    width: 160px;
    border-radius: 100px;
    height: 160px;
    object-fit: cover;
}

.profile-pfp-box{
    position: relative;
}


.profile-content{
    display: flex;
    gap: 30px;
}


.profile-data-box h1{
    font-size: 28px;
    color: var(--color-secundary);
}

.profile-data-box{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-top: 10px;
    
}

.follow-content{
    display: flex;
    align-items: center;
}

.follow-data-box{
    display: flex;
    gap: 20px;
}

.profile-icon{
    color: var(--color-secundary);
    font-size: 20px;
}

.follow-p{
    color: var(--color-secundary);
    font-size: 18px;
}

.username-box{
    background-color: var(--color-secundary);
    color: var(--color-primary);
    display: flex;  
    padding: 8px 12px;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
}

.share-icon{
    font-size: 16px;
    padding-top: 2px;
}

.username-lay{
    display: flex;
    gap: 10px;
}


.profile-actions{
    display: flex;
    align-items: center;
    gap: 15px;
}

.btn-profile{
    border: none;
    border: 2px var(--color-secundary) solid;
    cursor: pointer;
    color: var(--color-secundary);
    padding: 10px 20px;
    font-size: 18px;
    border-radius: 15px;
    background-color: transparent
}


.profile-config{
    background-color: var(--color-secundary);
    padding: 12px;
    display: flex;
    color: var(--color-primary);
    border-radius: 15px;
    cursor: pointer;
}

.pfp-new{
    cursor: pointer;
    display: flex;
    padding: 10px;
    color: var(--color-primary);
    border-radius: 40px;
    position: absolute;
    right: 5px;
    bottom: 10px;
    background-color: var(--color-secundary);
}