.search-artists{
    padding: 10px 0;
}

.search-artist-avatar img{
    width: 60px;
    border-radius: 100px;
}

.search-artists-list{
    display: flex;
    padding: 10px 0;
    flex-direction: column;
    justify-content: center;
    
}

.search-artist{
    display: flex;
    justify-content: space-between;
    color: var(--color-primary);
    cursor: pointer;
    padding: 20px 0;
    border-bottom: 1px solid rgb(195, 195, 195);
}

.search-artist span{
    margin-left: 5px;
    color: rgb(49, 46, 46);
}

.search-artworks h2{
    margin-bottom: 40px;
}

.search-artist-lay{
    display: flex;
    gap: 15px;
}

.search-artist-actions{
    
    gap: 10px;
}

.btn-profile-s{
    margin-right: 10px;
    border: none;
    border: 2px var(--color-primary) solid;
    cursor: pointer;
    color: var(--color-primary);
    padding: 10px 20px;
    font-size: 18px;
    border-radius: 15px;
    background-color: transparent;
    transition: all 0.4s ease;
}

.btn-profile-s:hover{
    background-color: var(--color-primary);
    color: white;
}

.btn-profile-following-s{
    margin-right: 10px;
    border: none;
    border: 2px var(--color-secundary) solid;
    cursor: pointer;
    color: var(--color-secundary);
    padding: 10px 20px;
    font-size: 18px;
    border-radius: 15px;
    background-color: var(--color-primary);
    transition: all 0.4s ease;
}

.btn-profile-following-s:hover{
    background-color: #241330;
   
    
}