.sidebar{
    background-color: var(--color-primary);
    width: 22%;
    height: 100vh;
    padding-top: 10px;
    padding-left: 5px;
    padding-right: 5px;
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: column;
   

}

.side-box{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    
}

.side-title-box{
    color: var(--color-secundary);
    padding: 10px 20px 10px 10px;
}

.side-btn-box{
    padding-bottom: 20px;
}

.side-nav{
    display: flex;
    width: 100%;
    flex-direction: column;
    
    padding: 10px 20px 10px 10px;
    gap: 5px;

}

.side-icon{
    font-size: 18px;
}

.side-icon-g{
    font-size: 20px;
}

.side-link{
    text-decoration: none;
    border: none;
    color:#c5c5c2 ;
    padding: 10px 10px 10px 12px;
    border-radius: 20px;
    font-size: 16px;
    display: flex;
    align-items: center;
    gap: 12px;
}


.side-link:hover{
    color: var(--color-secundary);
    background-color: #47285a;
}

.side-link.active{
    color: var(--color-secundary);
    background-color: #47285a;
}


.side-link.active::after {
    content: "";
    width: 6px;
    height: 6px;
    border-radius: 50%;
    margin-left: auto;
    background-color: var(--color-secundary);
}


.user-side-box{
    padding-left: 10px;
    padding: 20px;
    display: flex;
    border-top: 1px solid #56275a;
    justify-content: space-between;
    justify-content: space-between;
    align-items: center;
    
}

.user-side-lay{
    display: flex;
    
    gap: 10px;
}

.user-side-img{
    margin-top: 5px;
}

.user-data-box span{
    color: #baabbc;
    font-size: 14px;
    margin-left: 3px;
}

.user-side-box-error{
    padding: 20px;
    display: flex;
    flex-direction: column;
    border-top: 1px solid #56275a;
    
}

.user-side-box-error p{
    color: var(--color-secundary);
    text-decoration: underline;
}

.side-name{
    color: var(--color-secundary);
}

.user-side-box a{
    text-decoration: none;
     color: var(--color-secundary);
     text-decoration: underline;
}


.user-side-box-error a{
    text-decoration: none;
     color: var(--color-secundary);
     text-decoration: underline;
}

.user-side-img{
    width: 40px;
    border-radius: 100px;
}

.user-data-box{
    display: flex;
    flex-direction: column;
}


.side-cog-box{
    padding: 5px;
    cursor: pointer;
    border-radius: 30px;
    display: flex;
    
}

.side-cog-box:hover{
    background-color: rgb(69, 60, 60);
}

.cog-side{
    color: rgb(211, 202, 202);
}